@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Satoshi";
}

a {
  display: inline-block;
}

img {
  display: block;
}

.header__container {
  width: 1264px;
  margin: 0 auto;
}

.specific {
  color: #563acc;
  font-weight: 700;
}

/* ! subtitle */
.subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #6364ff;
  text-align: center;
}
/* ! subtitle */
/* ! title */
.title {
  font-family: "GRIFTER";
  font-weight: bold;
  font-size: 40px;
  color: #1a1a1a;
  text-align: center;
}
/* ! title */

/* header */
header {
  position: relative;
  top: 48px;
  transition: 0.5s;
}

.header__navbar {
  position: relative;
}

header.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 998;
  padding: 16px 0;
  box-shadow: 0 0 4px #000;
  background-color: #fff;
}

.header__container.active .nav__logo svg path
{
  fill: #fff;
}
.nav__logo {
  position: relative;
  z-index: 100;
}

.navbar__menu {
  margin-bottom: 0;
  padding-left: 0;
  column-gap: 48px;
  margin-right: 48px;
  position: relative;
  transition: 0.5s ease;
}

.navbar__link {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.navbar__menu .navbar__link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2.5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #b69af1;
  transition: 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.navbar__link:hover::after {
  width: 100%;
}

.down__btn {
  padding: 12px 24px;
  background-color: #d8c6ff;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  font-weight: 500;
  color: #000;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.down__btn:hover {
  background-color: #b69af1;
}

.down__btn img {
  margin-right: 4px;
}

.navbar__bars {
  width: 40px;
  height: 40px;
  background-color: #573acc4d;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 100;
  display: none;
}

.navbar__bars_active.navbar__bars {
  background-color: #eee;
}

.navbar__bars span {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #563acc;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.8s ease;
}

.navbar__bars span:nth-child(1) {
  top: calc(0% + 10px);
}

.navbar__bars span:nth-child(3) {
  top: calc(100% - 10px);
}

.navbar__bars_active span:nth-child(2) {
  transform: translateX(20px);
}

.navbar__bars_active span:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.navbar__bars_active span:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(315deg);
}

@media screen and (max-width: 1400px) {
  .header__container {
    width: 90%;
  }
}

@media screen and (max-width: 1010px) {
  .navbar__menu_box {
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    top: -50px;
    padding-top: 48px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center !important;
    align-items: center !important;
    width: 100vw;
    height: 10vh;
    opacity: 0;
    background-color: #000;
    transition: 0.5s;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
  }

  .navbar__menu_box.navbar__menu__box_active {
    visibility: visible;
    height: calc(100vh + 48px);
    opacity: 1;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }

  .navbar__menu {
    flex-direction: column;
    gap: 32px;
    margin-right: 0;
  }

  .navbar__menu__box_active .navbar__menu .navbar__item {
    gap: 64px;
    transition: 0.5s ease;
  }

  .navbar__menu .navbar__link {
    color: #fff;
  }

  .navbar__down_btn {
    margin: 32px 0px;
  }

  .navbar__bars {
    display: inline-block;
  }
}

.intro {
  margin-top: 10em;
  text-align: center;
  display: flex;
}

.intro__title {
  font-size: 48px;
  font-weight: 700;
  font-family: GRIFTER;
  color: #1a1a1a;
  justify-content: center;
  margin-bottom: 2rem;
}
.intro__spam {
  color: #6364ff;
}
.intro__paragraph {
  font-size: 1rem;
  font-family: Satoshi;
  text-align: center;
  color: #3a3a3a;
  font-weight: 400;
}
.box-input {
  border: solid 0.5px #949494;
  border-radius: 35px;
  width: 30rem;
  display: inline-block;
  margin-top: 2rem;
}
.intro__input {
  font-family: Satoshi;
  border-style: none;
  border-radius: 35px;
  outline-style: none;
  padding: 1rem;
}
.intro__btn {
  border: none;
  background-color: #563acc;
  border-radius: 25px;
  padding: 1em 3rem;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.5s;
}
.intro__btn:hover {
  background-color: #836be6;
}
.phone {
  overflow: hidden;
  margin-top: 10rem;
}
.phone__image {
  display: flex;
  align-items: end;
  gap: 15px;
}
.phone__end {
  height: 5.8rem;
  background-color: #e5dbfb;
  margin-bottom: 2rem;
}

/* tabs */

.wrapper {
  overflow: hidden;
}

.tabs {
  padding: 120px 0;
  font-family: "Satoshi";
}

.tabs .container {
  text-align: center;
}

.tabs-nav__title {
  font-family: "GRIFTER";
  font-weight: bold;
  font-size: 40px;
  color: #1a1a1a;
  width: 622px;
  margin: 10px auto 26px;
}

.tabs-nav__subtitle {
  font-weight: bold;
  color: #6364ff;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.tabs-nav__descr {
  width: 560px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}

/* tabs button */
.tabs .nav .nav-link {
  padding: 10px 14px;
  border: 1px solid transparent;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.tabs .nav-link:not(:last-child) {
  margin-bottom: 14px;
}

.tabs .nav-link.active {
  background-color: #f9f9f9;
  border-color: #949494;
}

.tabs .nav-link.active svg path {
  fill: #2fb857;
}

.tabs .nav p {
  margin-bottom: 0;
  margin-left: 15px;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  color: #3a3a3a;
  margin-left: 15px;
  cursor: pointer;
}

/* vs line */
.vs-line {
  position: relative;
}

.vs-line__item {
  height: 493px;
  width: 2px;
  background-color: #949494;
  border-radius: 50%;
  padding: 1.1px;
}

.vs-line__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 18px 10px;
  font-size: 18px;
  font-weight: bold;
  color: #3a3a3a;
}
/* tabs content */
.tabs-tab {
  margin-top: 112px;
}

.tab-content .tab-pane {
  max-width: 600px;
  width: 100%;
  height: 560px;
  background-color: #eae7ff;
  padding: 46px 32px 35px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.tab-content .tab-pane img {
  margin-bottom: 37px;
  object-fit: cover;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}

.tab-pane h1 {
  font-family: "GRIFTER";
  font-weight: bold;
  font-size: 32px;
  color: #1a1a1a;
  margin-bottom: 22px;
}

.tab-pane p {
  font-weight: normal;
  font-size: 16px;
  color: #3a3a3a;
}

/* mediaquiry */
@media screen and (max-width: 1127px) {
  .tabs-tab > div {
    flex-direction: column !important;
    justify-content: center;
  }

  .tabs .nav {
    margin-right: 0 !important;
  }
  .vs-line {
    padding: 32px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vs-line__item {
    width: 60%;
    height: 2px;
  }
}

@media screen and (max-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 99%;
  }
  .vs-line__item {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .tabs-nav__title {
    font-size: 31px;
  }
  .tabs-nav__subtitle {
    font-size: 12px;
  }
  .tabs-nav__descr {
    font-size: 14px;
  }
  .tabs-tab {
    margin-top: 34px;
  }
}

@media (max-width: 768px) {
  .tab-pane {
    max-width: 90% !important;
    margin: 0 auto;
  }

  .tab-pane img {
    width: 100%;
  }
}

@media screen and (max-width: 628px) {
  .tabs-nav__subtitle {
    font-size: 10px;
  }
  .tabs-nav__title {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
  }
  .tabs-nav__descr {
    font-size: 14px;
    width: 100%;
  }

  .tab-pane-content h1 {
    font-size: 24px;
  }
  .tab-pane-content p {
    font-size: 16px;
  }
  .tabs button svg {
    min-width: 20px;
  }
  .tab-content .tab-pane {
    padding: 12px;
    height: auto;
  }
}

@media screen and (max-width: 478px) {
  .tabs .nav {
    height: 130px;
    display: grid !important;
    overflow-y: scroll;
  }
  .tabs .nav .nav-link {
    margin-right: 30px;
  }
  .tabs .nav::-webkit-scrollbar {
    width: 10px;
  }
  .tabs .nav::-webkit-scrollbar-thumb {
    background-color: #563acc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .tabs .nav::-webkit-scrollbar-track {
    background-color: #b3deff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .tabs .nav p {
    font-size: 14px;
    text-align: start;
  }
  .vs-line__text {
    font-size: 15px;
  }
  .tab-pane-content h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .tab-pane-content p {
    font-size: 14px;
  }
}

/* Cards */
.pdaftar__text {
  color: #563acc;
}

.cards__box {
  width: 275px;
  height: auto;
}
.cards__title {
  font-family: "Nexa";
  font-weight: bold;
  font-size: 3.375rem;
  color: #1a1a1a;
  justify-content: center;
  margin-bottom: 2rem;
}

.cards__text:hover {
  background-color: #fff;
  box-shadow: 18px -7px 60px #b8b9f9;
}

.card__image {
  width: 10rem;
  height: auto;
  object-fit: cover;
  position: relative;
  top: 2.2rem;
}
.cards__text {
  cursor: pointer;
  border-radius: 1.45rem;
  padding: 3rem 1rem;
  transition: 0.5s;
}
.card__text {
  font-weight: bold;
  font-size: 1rem;
  font-family: "Nexa";
  margin-top: 1.5rem;
}
.card__h1 {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Nexa";
}

.project__works {
  text-align: center;
}
.debt__title {
  text-align: center;
  font-family: "Nexa";
  width: 734px;
  margin: 10rem auto 2rem auto;
  font-weight: 700;
  font-size: 54px;
  margin-bottom: 25px;
  color: #000;
}
.payment-h3 {
  font-family: "Nexa";
  font-weight: normal;
  font-size: 42px;
  margin-bottom: 24px;
  color: #000;
}
.payment-box {
  width: 100%;
  position: relative;
  padding: 194px 62px;
  margin: 10rem 0;
  background-color: #f8e7df;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.debt__image > img {
  position: absolute;
  top: -5rem;
  right: 3rem;
}
.history__image-first {
  position: absolute;
  top: -4rem;
  left: 3rem;
}
.history__image-secondary {
  position: relative;
  z-index: 2;
  left: 11rem;
}
.history__box {
  background-color: #eef2fb;
}
.offline__image-first,
.offline__image-secondary {
  position: absolute;
}
.offline__image-first {
  top: -4rem;
  right: -13rem;
}
.offline__image-secondary {
  right: 1rem;
  top: 7rem;
}
.offline__image-secondary img {
  width: 20rem;
}
.debt {
  margin-top: 10rem;
}
.offline,
.history {
  margin-top: 15rem;
}
.offline__box {
  background-color: #e1f5eb;
}
/* prices section css coode */
.tariffs__container {
  background: linear-gradient(to right, #ee98bf, #ffc071);
  margin-top: 148px;
  padding: 64px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.tariff__nav__title {
  font-size: 39px;
  font-weight: 800;
  max-width: 544px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-bottom: 32px;
}

.tariff__price__nav {
  gap: 24px;
}

.tariff__price__nav__title {
  font-weight: 800;
  font-family: "Inter", sans-serif;
  color: #725d6c;
  text-transform: capitalize;
  font-size: 24px;
}

.price__selection {
  min-width: 64px;
  height: 30px;
  background-color: #000;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  cursor: pointer;
  position: relative;
}

.price__selection::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  transition: all 500ms cubic-bezier(0.56, 0.05, 0.1, 0.63);
}

.price__selection.selection__active::after {
  left: calc(100% - 28px);
  animation: width 0.3s linear alternate;
}

.tariff__cards {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.cards__card {
  padding: 32px;
  background-color: #fff;
  display: inline-block;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cards__card:hover {
  background-color: #000;
  color: #fff;
}

.cards__card:hover .card__body__menu_item {
  color: #fff;
}

.cards__card:hover .buy__btn {
  color: #fff;
}

.buy__btn:hover {
  background-color: #563acc;
}

.cards__card:hover .buy__selection__value {
  box-shadow: 0px 5px 10px rgba(225, 225, 225, 0.1);
}

.buy__selection {
  width: 120px;
  height: 120px;
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy__selection__value {
  position: absolute;
  content: "";
  width: 150%;
  height: 40px;
  background-color: #563acc;
  transform: rotate(45deg);
  bottom: 53px;
  left: -16px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.buy__selection::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #000000;
  bottom: 0;
  right: 0;
}

.buy__selection::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #000000ad;
  top: 0;
  left: 0;
}

.card__nav {
  margin-bottom: 32px;
  margin-top: 32px;
}

.buy__status {
  font-size: 30px;
  font-weight: 700;
}

.user__postion {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  padding-right: 8px;
}

.card__body__menu {
  padding-left: 0;
  margin-bottom: 3px;
}

.card__body__menu_item {
  margin-left: 7px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #141313;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.younger .card__body__menu_item:nth-child(5) {
  text-decoration: line-through;
  color: gray;
}

.younger .card__body__menu_item:nth-child(4) {
  text-decoration: line-through;
  color: gray;
}

.card__body__menu_item:last-child {
  margin-bottom: 0;
}

.buy__btn {
  border: none;
  background-color: #45aaf2;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 32px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-top: 48px;
  transition: background-color 0.5s;
}

@media screen and (max-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 1264px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .tariff__cards {
    grid-template-columns: repeat(1, 100%);
    place-items: center;
  }

  .tariff__cards .cards__card
  {
    width: 60%;
  }

  .tariff__price__nav__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .tariffs__container {
    padding: 32px;
  }

  .tariff__nav__title {
    font-size: 30px;
  }

  .tariff__price__nav__title {
    font-size: 18px;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .tariff__nav__title {
    font-size: 30px;
  }

  .tariff__price__nav__title {
    font-size: 16px;
  }

  .buy__status {
    font-size: 28px;
  }

  .tariff__cards .cards__card
  {
    width: 100%;
  }

  .price__selection 
  {
    min-width: 50px;
    height: 25px;
  }

  .price__selection::after
  {
    width: 20px;
    height: 20px;
    
  }
  .price__selection.selection__active::after
  {
    left: calc(100% - 23px);
  }


  .buy__btn
  {
    padding: 14px 32px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .tariff__nav__title {
    font-size: 28px;
  }

  .tariff__price__nav__title {
    font-size: 14px;
  }

  .buy__status {
    font-size: 26px;
  }

  .user__postion {
    font-size: 14px;
  }

  .card__body__menu_item {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .tariff__price__nav__title {
    font-size: 12px;
  }

  .card__body__menu_item {
    font-size: 12px;
  }
  .tariff__cards .cards__card
  {
    padding: 24px;
  }
  .buy__status
  {
    font-size: 18px;
  }
  .user__postion 
  {
    font-size: 12px;
    margin-right: 24px;
  }

  .tariffs__container 
  {
    padding: 45px 32px;
  }

  .buy__btn
  {
    font-size: 14px;
    padding: 12px 30px;
  }

  .buy__selection__value
  {
    font-size: 14px;
  }
}

.payments__box {
  margin-top: 10rem;
  width: 100%;
  height: 30rem;
  background: #5a5df7 url(../../img/international-section--bg.png) right
    no-repeat;
  padding: 106px 40px 71px 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  margin-bottom: 10rem;
}

.payments__h2 {
  font-size: 2.5rem;
  font-family: GRIFTER;
  padding: 0 1rem 1rem 0;
  color: #ffff;
}
.payments__icon {
  width: 2rem;
  height: 1.8rem;
  overflow: clip;
  padding: 0;
  position: static;
}
.payments_p {
  font-size: 1.2rem;
  font-family: Satoshi;
  color: #ededed;
}
.payments__user {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  width: 25rem;
}
.payments__users {
  position: absolute;
}
.payments__user-one {
  position: relative;
  left: 42rem;
  top: -5rem;
}
.payments__user-two {
  position: relative;
  left: 50rem;
  top: -5rem;
  transform: rotate(-2.5deg);
}
.payments__user-three {
  position: relative;
  left: 45rem;
  top: -5rem;
}
.payments__pays,
.payments__light {
  position: absolute;
}
.payments__light-img {
  position: relative;
  left: 68rem;
  top: -5rem;
}
.payments__pays-first {
  font-size: 0.9rem;
  font-family: Inter, sans-serif;
  font-weight: 700;
  color: #000;
  display: inline;
  position: relative;
  left: 3.5rem;
}
.payments__pays-secondary {
  font-size: 0.9rem;
  font-family: Inter, sans-serif;
  color: #0a9e01;
  font-weight: 800;
  position: relative;
  left: 8rem;
  top: 1rem;
}
.payments__pays-third {
  font-size: 0.9rem;
  font-family: Inter, sans-serif;
  color: #707070;
  position: relative;
  left: 3.5rem;
}
.payments__circle {
  margin: 0;
  padding: 0;
  width: 3rem;
  max-height: 3rem;
}
.payments {
  padding-bottom: 127px;
  margin-top: 10rem;
}
.payments__h2 {
  font-family: "GRIFTER";
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  width: 650px;
}
.payments__left-items {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-top: 44px;
}
.payments__left-item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.payments__left-item:not(:last-child) {
  margin-right: 58px;
}
.payments__left-p {
  font-size: 20px;
  font-weight: 500;
  color: #ededed;
  margin-left: 16px;
  position: relative;
  top: 0.5rem;
}

.payments__right {
  position: relative;
}
.payments__right-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payments__right-item:first-child {
  transform: translateX(-100px);
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -o-transform: translateX(-100px);
}
.payments__right-item:nth-child(2) {
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
}
.payments__right-item:nth-child(3) {
  transform: translateX(-52px);
  -webkit-transform: translateX(-52px);
  -moz-transform: translateX(-52px);
  -ms-transform: translateX(-52px);
  -o-transform: translateX(-52px);
}
.payments__right-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payments__right-info img {
  border-radius: 8px;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  justify-content: space-between;
  width: 25rem;
  padding: 16px 13px 15px 12px;
}
.payments__right {
  margin-left: 13px;
}

.payments__right-lightning {
  position: absolute;
  top: -18px;
  right: 0;
}

.payments__right-item:not(:last-child) {
  margin-bottom: 22px;
}
.payments__right-item:nth-child(3) {
  margin-bottom: 0;
}

@media (max-width: 1259px) {
  .payments__h2 {
    width: 63%;
    font-size: 36px;
  }
  .payments__left-p {
    font-size: 18px;
  }
  .payments__left-image {
    width: 16px;
  }
  .payments__left-item:not(:last-child) {
    margin-right: 40px;
  }
  .payments__right {
    width: 37%;
  }
  .payments__right-item {
    width: 100%;
  }
  .payments__right-h6,
  .payments__right-p,
  .payments__right-price {
    font-size: 14px;
  }
  .payments__right-lightning {
    width: 27%;
  }
}
@media (max-width: 1189px) {
  .payments__left-item:not(:last-child) {
    margin-right: 20px;
  }
  .payments__left-image {
    width: 15px;
  }
  .payments__left-p {
    font-size: 16px;
    margin-left: 12px;
  }
  .payments__right {
    width: 40%;
  }
}
@media (max-width: 1173px) {
  .payments__box {
    margin-top: 7rem;
    margin-bottom: 7rem;
    flex-direction: column;
    height: auto;
    padding: 50px 40px;
  }
  .payments__left {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  .payments__left-items {
    margin-top: 22px;
  }
  .payments__left-item:not(:last-child) {
    margin-right: 40px;
  }
  .payments__right {
    width: 50%;
    left: 15%;
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
  }
  .payments__right-lightning {
    width: 20%;
    top: -80px;
    right: 64px;
  }
}
@media (max-width: 1035px) {
  .payments__right-lightning {
    top: -24%;
    right: 16%;
  }
  .payments {
    margin-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 943px) {
  .payments__right-lightning {
    top: -22%;
    right: 21%;
  }
}
@media (max-width: 850px) {
  .payments__h2 {
    width: 100%;
  }
  .payments__right-lightning {
    top: -20%;
    right: 24%;
  }
}
@media (max-width: 790px) {
  .payments__right-lightning {
    top: -17%;
    right: 30%;
  }
}
@media (max-width: 684px) {
  .payments__right {
    width: 60%;
    left: 20%;
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
  }
}
@media (max-width: 636px) {
  .payments__right {
    left: 25%;
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
  }
}
@media (max-width: 626px) {
  .payments__h2 {
    font-size: 34px;
  }
  .payments__left-items {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    margin-top: 22px;
  }
  .payments__left-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 614px) {
  .payments__right {
    width: 65%;
    margin-left: 50px;
  }
}
@media (max-width: 570px) {
  .payments__right {
    width: 70%;
  }
}
@media (max-width: 546px) {
  .payments {
    margin-top: 5rem;
    padding-bottom: 5rem;
  }
  .payments__box {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-position: bottom;
  }
  .payments__left-items {
    margin-top: 30px;
  }
  .payments__left-image {
    width: 22px;
  }
  .payments__left-item:not(:last-child) {
    margin-bottom: 37px;
  }
  .payments__left-p {
    font-size: 18px;
  }
  .payments__left {
    margin-bottom: 55px;
  }
  .payments__h2 {
    font-size: 33px;
  }
  .payments__right {
    margin-left: 0;
    left: unset;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .payments__right-item:first-child,
  .payments__right-item:nth-child(3) {
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
  }
  .payments__right-item:nth-child(2) {
    transform: rotate(-1.5deg);
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    width: 93%;
  }
  .payments__right-lightning {
    top: -23%;
    right: -5%;
  }
}
@media (max-width: 464px) {
  .payments__left-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .payments__left-p {
    font-size: 17px;
  }
}
@media (max-width: 458px) {
  .payments__h2 {
    font-size: 31px;
  }
  .payments__left-image {
    width: 18px;
  }
  .payments__left-p {
    font-size: 16px;
  }
}
@media (max-width: 427px) {
  .payments__box {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 50px 20px;
  }
  .payments__h2 {
    font-size: 29px;
  }
}
@media (max-width: 400px) {
  .payments__right-lightning {
    top: -16%;
  }
  .payments__left-image {
    width: 16px;
  }
  .payments__left-p {
    font-size: 15px;
  }
  .payments__right-h6,
  .payments__right-p,
  .payments__right-price {
    font-size: 13px;
  }
  .payments {
    margin-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}
@media (max-width: 377px) {
  .payments__h2 {
    font-size: 27px;
  }
  .payments__box {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .payments {
    margin-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 362px) {
  .payments__right-h6,
  .payments__right-p,
  .payments__right-price {
    font-size: 12px;
  }
}
@media (max-width: 357px) {
  .payments__h2 {
    font-size: 26px;
  }
  .payments__left-image {
    width: 15px;
  }
  .payments__left-p {
    font-size: 14px;
  }
}
@media (max-width: 345px) {
  .payments__h2 {
    font-size: 24px;
  }
  .payments__left-image {
    width: 13px;
  }
  .payments__left-p {
    font-size: 12px;
  }
  .payments__right-h6,
  .payments__right-p,
  .payments__right-price {
    font-size: 11px;
  }
}
@media (max-width: 326px) {
  .payments__h2 {
    font-size: 22px;
  }
  .payments__left-item:not(:last-child) {
    margin-bottom: 26px;
  }
  .payments__left-p {
    font-size: 11px;
  }
  .payments__right-h6,
  .payments__right-p,
  .payments__right-price {
    font-size: 10px;
  }
}

/* ! KSS  start*/
.kks {
  margin: 114px 0 117px 0;
}
/* ? kss nav */
.kss-title {
  margin: 18px auto 15px;
}

.kss-descr {
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
/* ? kss nav */

/* ? kss accordion */

.kss-accordion {
  width: 719px;
  margin: 0 auto;
  margin-top: 92px;
}

.accordion-item {
  border: none;
  border-bottom: 1px solid #949494;
  border-radius: 0px;
  margin-bottom: 32px;
}

.accordion-item a {
  text-decoration: none;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-button {
  font-family: "GRIFTER";
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
  padding: 0;
  padding-bottom: 32px;
}

.accordion-button:focus {
  box-shadow: none;
  background-color: transparent;
  color: #000;
}

.accordion-body {
  padding: 0px 0 38px 0;
}

/* ? kss accordion */

/* ? kss mediaquery */

@media screen and (max-width: 894px) {
  .kss-title {
    font-size: 34px;
  }
  .kss-subtitle {
    font-size: 13px;
  }
  .kss-descr {
    font-size: 15px;
  }

  .kss-accordion {
    width: 100%;
  }

  .accordion-item {
    width: 100%;
  }
}
/* 800px */
@media screen and (max-width: 800px) {
  .kss-subtitle {
    font-size: 12px;
  }
  .kss-title {
    font-size: 31px;
  }
}

@media screen and (max-width: 700px) {
  .kss-subtitle {
    font-size: 11px;
  }
  .kss-title {
    font-size: 28px;
  }
  .kss-descr {
    font-size: 14px;
  }

  @media screen and (max-width: 650px) {
    .kss-subtitle {
      font-size: 10px;
    }
    .kss-title {
      font-size: 24px;
      font-weight: bold;
    }
    .kss-descr {
      font-size: 14px;
    }
  }
}

/* ? kss mediaquery */

/* ! KSS end*/

/* ! Download start */
.download {
  margin-bottom: 110px;
}
.download .container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 55px 55px 0 52px;
  background: #563acc url(../../img/lines.svg) left no-repeat;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.download .title {
  text-align: start;
  max-width: 516px;
  color: #fff;
  margin-bottom: 27px;
}

.down-link {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.down-link .play-store {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 163px;
  height: 49px;
  padding: 7px 10px;
  position: relative;
  cursor: pointer;
  outline: none;
}

.play-store a {
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  gap: 10px;
  color: #fff;
}

.play-store a h6 {
  font-size: 10px;
  margin-bottom: 0;
}

.play-store h5 {
  font-size: 18px;
  margin-bottom: 0;
}

.play-store .text-content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.badge {
  position: absolute;
  color: #000;
  background-color: #eee;
  font-family: "Nexa";
  padding: 5px 10px;
  border-radius: 12px;
  top: -15px;
  right: -23px;
  font-size: 10px;
  cursor: default;
  box-shadow: 0px 0px 5px #ddd;
  transform: rotate(15deg);
  font-weight: normal;
}

.down-img {
  position: relative;
}

.down-img img:first-child {
  position: absolute;
  top: 85px;
  right: 315px;
}
/* ? mediaquery */
@media screen and (max-width: 1270px) {
}
@media screen and (max-width: 1166px) {
  .down-img img:first-child {
    right: unset;
    top: -33px;
    left: -50px;
    width: 36%;
  }
}

@media screen and (max-width: 986px) {
  .download .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 70px;
  }

  .download .down-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .down-content .title {
    text-align: center;
  }
}

@media screen and (max-width: 798px) {
  .down-content .title {
    font-size: 38px;
    width: 100%;
  }
}

@media screen and (max-width: 798px) {
  .down-content .title {
    font-size: 36px;
  }
}

@media screen and (max-width: 798px) {
  .down-content .title {
    font-size: 35px;
  }
}

@media screen and (max-width: 798px) {
  .down-content .title {
    font-size: 34px;
  }
}

@media screen and (max-width: 480px) {
  .down-img img:first-child {
    top: -10px;
    left: -39px;
    width: 30%;
  }
}

@media screen and (max-width: 445px) {
  .down-img img:last-child {
    width: 100%;
  }
  .down-content .title {
    font-size: 34px;
  }
  .play-store h5 {
    font-size: 14px;
  }
  .play-store h6 {
    font-size: 8px;
  }
}

@media screen and (max-width: 421px) {
  .down-content .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 360px) {
  .down-content .title {
    font-size: 30px;
  }
  .down-link {
    flex-direction: column;
  }
}
/* ! Download end */

.carousel__icon {
  background-color: #fff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 12rem 4rem;
  text-align: center;
}
.carousel__text {
  padding: 94px;
  background-color: #eae7ff;
  border-radius: 3rem 3rem 0 0;
  border: solid 1px #949494;
}
.carousel__p {
  font-size: 24px;
  font-weight: 500;
  color: #3a3a3a;
  text-align: center;
  margin: 0 auto;
}
.carousel__user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5dbfb;
  padding: 30px;
  border-radius: 0 0 3rem 3rem;
  border: solid 1px #949494;
}
.carousel__user-name {
  padding: 0;
}

.carousel__title-p {
  font-weight: bold;
  color: #6364ff;
  font-size: 1rem;
  line-height: 19px;
  text-transform: uppercase;
}
.carousel__title-h1 {
  font-family: "GRIFTER";
  font-weight: bold;
  font-size: 2.5rem;
  color: #1a1a1a;
  margin: 10px auto 26px;
}
.carousel-item {
  padding: 0 3rem;
}
@media screen and (max-width: 1200px) {
  .debt__image > img {
    position: static;
    width: 17rem;
  }
  .debt__image,
  .offline__image {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  .debt__title {
    width: auto;
  }
  .payment-box {
    margin-top: 10rem;
    padding: 8rem 2rem;
    text-align: center;
  }
  .debt__title {
    font-size: 52px;
  }
  .history__image {
    display: flex;
  }
  .history__box {
    display: flex;
    flex-direction: column-reverse;
  }
  .offline__box {
    display: flex;
    flex-direction: column;
  }
  .history__image-first,
  .offline__image-first {
    display: flex;
    padding: 0;
    justify-content: end;
    position: relative;
  }
  .history__image-secondary {
    position: relative;
    left: -5rem;
    top: 14rem;
  }
  .offline__image-secondary {
    position: relative;
    left: -17rem;
    top: 10rem;
  }
  .history__image-secondary img,
  .offline__image-secondary img {
    width: 18rem;
  }
  .history__image-first img,
  .offline__image-first img {
    width: 17rem;
    padding-top: 5rem;
  }
  .offline,
  .history {
    margin-top: 16rem;
  }
  .debt {
    margin-top: 16rem;
  }
  .payments__data {
    display: flex;
    flex-direction: column;
  }
  .carousel__p {
    font-size: 1.35rem;
  }
  .carousel__tex {
    padding: 5rem;
  }
  .payment-box {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }
  .history,
  .offline {
    margin: 9rem auto;
  }
  .carousel__text {
    padding: 5rem;
  }
}
@media screen and (max-width: 960px) {
  .intro__title {
    font-size: 40px;
  }
  .intro {
    margin: 10rem 1rem;
  }
  .image-phone {
    width: 12rem;
  }
  .phone {
    margin-top: 8rem;
  }
  .cards__text {
    width: 17.5rem;
  }
  .cards__title {
    font-size: 2.9rem;
  }
  .debt__image > img {
    width: 15rem;
  }
  .payment-h3 {
    font-size: 40px;
  }
  .debt__title {
    font-size: 50px;
    margin-top: 5rem;
  }
  .payment-box {
    padding: 6rem 2rem;
  }
  .history__image-secondary img,
  .offline__image-secondary img {
    width: 16rem;
  }
  .history__image-first img,
  .offline__image-first img {
    width: 15rem;
    padding-top: 5rem;
  }
  .history__image-secondary,
  .offline__image-secondary {
    position: relative;
    left: -5rem;
    top: 13rem;
  }
  .history__image-secondary {
    position: relative;
    top: 14rem;
  }
  .offline__image-secondary {
    position: relative;
    left: -14rem;
    top: 10rem;
  }
  .carousel__p {
    font-size: 1.3rem;
  }
  .carousel__tex {
    padding: 5rem;
  }
  .payment-box {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .history,
  .offline {
    margin: 8rem auto;
  }
  .carousel__text {
    padding: 4rem;
  }
  .carousel__icon {
    background-color: #949494;
    margin: 12rem -2rem;
    text-align: center;
  }
}
@media screen and (max-width: 720px) {
  .intro__title {
    font-size: 36px;
  }
  .image-phone {
    width: 10rem;
  }
  .phone__image {
    gap: 12px;
  }
  .card__image {
    width: 9rem;
    height: auto;
  }
  .phone {
    margin-top: 5rem;
  }
  .cards__text {
    width: 17.5rem;
  }
  .cards__title {
    font-size: 2.85rem;
  }
  .debt__image > img {
    width: 14rem;
  }
  .payment-h3 {
    font-size: 38px;
  }

  .debt__title {
    font-size: 48px;
  }
  .payment-box {
    padding: 5rem 2rem;
  }
  .history__image-secondary img,
  .offline__image-secondary img {
    width: 13rem;
  }
  .history__image-first img,
  .offline__image-first img {
    width: 14rem;
    padding-top: 5rem;
  }
  .history__image-secondary {
    position: relative;
    left: -3rem;
    top: 11rem;
  }
  .offline__image-secondary {
    position: relative;
    left: -10.5rem;
    top: 10rem;
  }
  .carousel__p {
    font-size: 1.2rem;
  }
  .carousel__tex {
    padding: 3.5rem;
  }
  .carousel__title-p {
    font-size: 0.7rem;
  }
  .carousel__title-h1 {
    font-size: 1.5rem;
  }
  .payment-box {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .history,
  .offline {
    margin: 6rem auto;
  }
  .carousel__text {
    padding: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .intro__title {
    font-size: 27px;
  }
  .intro__paragraph {
    font-size: 0.8rem;
  }
  .box-input {
    border-style: none;
    width: 20rem;
  }
  .intro__input {
    outline-style: auto;
    outline-color: #949494;
    margin: 1rem 0;
  }
  .card__image {
    width: 8rem;
    height: auto;
  }
  .image-phone {
    width: 7rem;
  }
  .phone {
    margin-top: 36px;
  }
  .cards__text {
    width: 17.5rem;
  }
  .cards__title {
    font-size: 2.5rem;
  }
  .debt__image > img {
    width: 12rem;
  }
  .payment-h3 {
    font-size: 28px;
  }

  .debt__title {
    font-size: 46px;
  }
  .payment-box {
    padding: 3rem 1.5rem;
  }
  .history__image-secondary img,
  .offline__image-secondary img {
    width: 10.5rem;
  }
  .history__image-first img,
  .offline__image-first img {
    width: 12rem;
    padding-top: 5rem;
  }
  .history__image-secondary {
    position: relative;
    left: -2rem;
    top: 10rem;
  }
  .offline__image-secondary {
    position: relative;
    left: -9.5rem;
    top: 7rem;
  }
  .offline__image-first {
    top: -4rem;
    right: -10rem;
  }
  .carousel__p {
    font-size: 1rem;
  }
  .carousel__tex {
    padding: 3rem;
  }
  .payment-box {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .history,
  .offline {
    margin: 4rem auto;
  }
  .payments__right-info img {
    width: 20rem;
  }
  .carousel__text {
    padding: 2rem;
  }
  .carousel__icon {
    display: none;
  }
  .carousel__img {
    width: 3rem;
  }
}
@media screen and (max-width: 360px) {
  .intro__title {
    font-size: 1.5rem;
  }
  .card__image {
    width: 6.5rem;
    height: auto;
  }
  .box-input {
    width: 12rem;
  }
  .image-phone {
    width: 6rem;
  }
  .phone {
    margin-top: 10px;
  }
  .cards__text {
    width: 17.5rem;
  }
  .cards__title {
    font-size: 2rem;
  }
  .debt__image > img {
    width: 8rem;
  }
  .payment-h3 {
    font-size: 22px;
  }
  .debt__title {
    font-size: 32px;
  }
  .history__image-secondary img,
  .offline__image-secondary img {
    width: 7rem;
  }
  .history__image-first img,
  .offline__image-first img {
    width: 8rem;
  }
  .history__image-secondary {
    position: relative;
    left: -1.2rem;
    top: 7rem;
  }
  .offline__image-secondary {
    position: relative;
    left: -5rem;
    top: 5.5rem;
  }
  .offline__image-first {
    top: -4rem;
    right: -8rem;
  }
  .carousel__p {
    font-size: 0.9rem;
  }
  .carousel__tex {
    padding: 0;
  }
  .carousel-item {
    padding: 0;
  }
  .carousel__all {
    padding: 0;
    margin: 0;
  }
  .intro__btn {
    font-size: 0.9rem;
  }
  .payment-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .history,
  .offline {
    margin: 2rem auto;
  }
  .payment-p {
    font-size: 12px;
  }
  .payments__right-info img {
    width: 14rem;
  }
  .carousel__text {
    padding: 1rem;
  }
}
/* ! footer */
footer {
  background-color: #f9f9f9;
}
footer .container {
  padding: 70px 0;
  text-align: center;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-nav .title {
  font-family: "GRIFTER";
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 17px;
}

.input-box {
  border: 1px solid #949494;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  padding: 18px 0 18px 24px;
  display: flex;
  justify-content: center;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  min-width: 498px;
  width: 100%;
  height: 50px;
}

.input-box input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  outline: none;
  border: none;
  -o-transition: all 0.25s linear;
}

.input-box button {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 14px 24px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  background-color: #563acc;
  color: #fff;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  height: 40px;
  white-space: nowrap;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}

.footer-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 54px;
}

.social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 40px;
  margin: 0;
}

.social a {
  width: 40px;
  height: 40px;
}

.social a:hover {
  background: linear-gradient(#6364ff, #563acc);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social a:hover svg path {
  fill: #fff;
}

.author {
  font-size: 14px;
  font-weight: normal;
  color: #000;
}

.author a {
  text-decoration: none;
}

/* up icon */
.up-icon a {
  position: fixed;
  width: 46px;
  height: 46px;
  background: #563acc;
  right: 26px;
  bottom: 60px;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  opacity: 0;
  border-radius: 5px;
  display: flex;
  z-index: 99;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* ? mediaquiery */
@media screen and (max-width: 1142px) {
  .input-box {
    min-width: 420px;
  }
}
@media screen and (max-width: 290px) {
  .payments__right-info img {
    width: 10rem;
  }
}
