@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Satoshi";
}

a {
  display: inline-block;
}

img {
  display: block;
}

.header__container {
  width: 1264px;
  margin: 0 auto;
}

.specific {
  color: #563acc;
  font-weight: 700;
}

/* header */

.header__navbar {
  position: relative;
  padding-top: 48px;
}

.nav__logo {
  position: relative;
  z-index: 100;
}

.navbar__menu {
  margin-bottom: 0;
  padding-left: 0;
  column-gap: 48px;
  margin-right: 48px;
  position: relative;
  transition: 0.5s ease;
}

.navbar__link {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.navbar__menu .navbar__link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2.5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #b69af1;
  transition: 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.navbar__link:hover::after {
  width: 100%;
}

.down__btn {
  padding: 12px 24px;
  background-color: #d8c6ff;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  font-weight: 500;
  color: #000;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.down__btn:hover {
  background-color: #b69af1;
}

.down__btn img {
  margin-right: 4px;
}

.navbar__bars {
  width: 40px;
  height: 40px;
  background-color: #573acc4d;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 100;
  display: none;
}

.navbar__bars_active.navbar__bars {
  background-color: #eee;
}

.navbar__bars span {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #563acc;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.8s ease;
}

.navbar__bars span:nth-child(1) {
  top: calc(0% + 10px);
}

.navbar__bars span:nth-child(3) {
  top: calc(100% - 10px);
}

.navbar__bars_active span:nth-child(2) {
  transform: translateX(20px);
}

.navbar__bars_active span:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.navbar__bars_active span:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(315deg);
}

@media screen and (max-width: 1400px) {
  .header__container {
    width: 90%;
  }
}

@media screen and (max-width: 1010px) {
  .navbar__menu_box {
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    top: 0;
    padding-top: 48px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center !important;
    align-items: center !important;
    width: 100vw;
    height: 10vh;
    opacity: 0;
    background-color: #000;
    transition: 0.5s;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
  }

  .navbar__menu_box.navbar__menu__box_active {
    visibility: visible;
    height: 100vh;
    opacity: 1;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }

  .navbar__menu {
    flex-direction: column;
    gap: 32px;
    margin-right: 0;
  }

  .navbar__menu__box_active .navbar__menu .navbar__item {
    gap: 64px;
    transition: 0.5s ease;
  }

  .navbar__menu .navbar__link {
    color: #fff;
  }

  .navbar__down_btn {
    margin: 32px 0px;
  }

  .navbar__bars {
    display: inline-block;
  }
}

.intro {
  margin-top: 10em;
  text-align: center;
  display: flex;
}

.intro__title {
  font-size: 48px;
  font-weight: 700;
  font-family: GRIFTER;
  color: #1a1a1a;
  justify-content: center;
  margin-bottom: 2rem;
}
.intro__spam {
  color: #6364ff;
}
.intro__paragraph {
  font-size: 1rem;
  font-family: Satoshi;
  text-align: center;
  color: #3a3a3a;
  font-weight: 400;
}
.box-input {
  border: solid 0.5px #949494;
  border-radius: 35px;
  width: 30rem;
  display: inline-block;
  margin-top: 2rem;
}
.intro__input {
  font-family: Satoshi;
  border-style: none;
  border-radius: 35px;
  outline-style: none;
  padding: 1rem;
}
.intro__btn {
  border: none;
  background-color: #563acc;
  border-radius: 25px;
  padding: 1em 3rem;
}
.phone {
  overflow: hidden;
  margin-top: 10rem;
}
.phone__image {
  display: flex;
  align-items: end;
  gap: 15px;
}
.phone__end {
  height: 5.8rem;
  background-color: #e5dbfb;
  margin-bottom: 2rem;
}

/* tabs */

.wrapper {
  overflow: hidden;
}

.tabs {
  padding: 120px 0;
  font-family: "Satoshi";
}

.tabs .container {
  text-align: center;
}

.tabs-nav__title {
  font-family: "GRIFTER";
  font-weight: bold;
  font-size: 40px;
  color: #1a1a1a;
  width: 622px;
  margin: 10px auto 26px;
}

.tabs-nav__subtitle {
  font-weight: bold;
  color: #6364ff;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.tabs-nav__descr {
  width: 560px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}

/* tabs button */
.tabs .nav .nav-link {
  padding: 10px 14px;
  border: 1px solid transparent;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.tabs .nav-link:not(:last-child) {
  margin-bottom: 14px;
}

.tabs .nav-link.active {
  background-color: #f9f9f9;
  border-color: #949494;
}

.tabs .nav-link.active svg path {
  fill: #2fb857;
}

.tabs .nav p {
  margin-bottom: 0;
  margin-left: 15px;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  color: #3a3a3a;
  margin-left: 15px;
  cursor: pointer;
}

/* vs line */
.vs-line {
  position: relative;
}

.vs-line__item {
  height: 493px;
  width: 2px;
  background-color: #949494;
  border-radius: 50%;
  padding: 1.1px;
}

.vs-line__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 18px 10px;
  font-size: 18px;
  font-weight: bold;
  color: #3a3a3a;
}
/* tabs content */
.tabs-tab {
  margin-top: 112px;
}

.tab-content .tab-pane {
  max-width: 600px;
  width: 100%;
  height: 560px;
  background-color: #eae7ff;
  padding: 46px 32px 35px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.tab-content .tab-pane img {
  margin-bottom: 37px;
  object-fit: cover;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}

.tab-pane h1 {
  font-family: "GRIFTER";
  font-weight: bold;
  font-size: 32px;
  color: #1a1a1a;
  margin-bottom: 22px;
}

.tab-pane p {
  font-weight: normal;
  font-size: 16px;
  color: #3a3a3a;
}

/* mediaquiry */
@media screen and (max-width: 1127px) {
  .tabs-tab > div {
    flex-direction: column !important;
    justify-content: center;
  }

  .tabs .nav {
    margin-right: 0 !important;
  }
  .vs-line {
    padding: 32px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vs-line__item {
    width: 60%;
    height: 2px;
  }
}

@media screen and (max-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 99%;
  }
  .vs-line__item {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .tabs-nav__title {
    font-size: 31px;
  }
  .tabs-nav__subtitle {
    font-size: 12px;
  }
  .tabs-nav__descr {
    font-size: 14px;
  }
  .tabs-tab {
    margin-top: 34px;
  }
}

@media (max-width: 768px) {
  .tab-pane {
    max-width: 90% !important;
    margin: 0 auto;
  }

  .tab-pane img {
    width: 100%;
  }
}

@media screen and (max-width: 628px) {
  .tabs-nav__subtitle {
    font-size: 10px;
  }
  .tabs-nav__title {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
  }
  .tabs-nav__descr {
    font-size: 14px;
    width: 100%;
  }

  .tab-pane-content h1 {
    font-size: 24px;
  }
  .tab-pane-content p {
    font-size: 16px;
  }
  .tabs button svg {
    min-width: 20px;
  }
  .tab-content .tab-pane {
    padding: 12px;
    height: auto;
  }
}

@media screen and (max-width: 478px) {
  .tabs .nav {
    height: 130px;
    display: grid !important;
    overflow-y: scroll;
  }
  .tabs .nav .nav-link {
    margin-right: 30px;
  }
  .tabs .nav::-webkit-scrollbar {
    width: 10px;
  }
  .tabs .nav::-webkit-scrollbar-thumb {
    background-color: #563acc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .tabs .nav::-webkit-scrollbar-track {
    background-color: #b3deff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .tabs .nav p {
    font-size: 14px;
    text-align: start;
  }
  .vs-line__text {
    font-size: 15px;
  }
  .tab-pane-content h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .tab-pane-content p {
    font-size: 14px;
  }
}

/* Cards */
.pdaftar__text{
  color: #563acc;
}

.cards__box{
  width: 275px;
  height: auto;
}
.cards__title{
  font-family: "Nexa";
  font-weight: bold;
  font-size: 3.375rem;
  color: #1a1a1a;
  justify-content: center;
  margin-bottom: 2rem;
}

.cards__text:hover{
  background-color: #fff;
  box-shadow: 18px -7px 60px #b8b9f9;
}

.card__image{
  width: 10rem;
  height: auto;
  object-fit: cover;
  position: relative;
  top: 2.2rem;
}
.cards__text{
  cursor: pointer;
  border-radius: 1.45rem;
  padding: 3rem 1rem;
  transition: 0.5s;
}
.card__text{
  font-weight: bold;
  font-size: 1rem;
  font-family: "Nexa";
  margin-top: 1.5rem;
}
.card__h1{
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Nexa";
}

.project__works {
  text-align: center;
}
.debt{
  margin-top: 5rem;
}
.debt__title{
  text-align: center;
  font-family: "Nexa";
  width: 734px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 54px;
  margin-bottom: 25px;
  color: #000;
}
.payment-h3{
  font-family: "Nexa";
  font-weight: normal;
  font-size: 42px;
  margin-bottom: 24px;
  color: #000;
}
.payment-p{
  font-family: "Nexa";
  font-weight: normal;
  font-size: 18px;
  color: #000;
}
.payment-box{
  width: 100%;
  position: relative;
  padding: 194px 62px;
  margin: 5rem 0;
  background-color: #f8e7df;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.debt__image>img{
  position: absolute;
  top: -5rem;
  right: 3rem;
}
.history__image-first{
  position: absolute;
  top: -4rem;
  left: 3rem;
}
.history__image-secondary{
  position: relative;
  z-index: 2;
  left: 11rem;
}
.history__box{
  background-color: #eef2fb;
}
.history{
  margin-top: 15rem;
}
.offline__image-first, .offline__image-secondary{
  position: absolute;
}
.offline__image-first{
  top: -4rem;
  right: -13rem;
}
.offline__image-secondary{
  right: 1rem;
  top: 7rem;
}
.offline__image-secondary img{
  width: 20rem;
}
.offline{
  margin-top: 15rem;
}
.offline__box{
  background-color: #e1f5eb;
}
@media screen and (max-width: 1200px){
  .debt__image>img{
    position: static;
    width: 17rem;
  }
  .debt__image, .offline__image{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  .debt__title{
    width: auto;
  }
  .payment-box{
    padding: 8rem 2rem;
    text-align: center;
  }
  .debt__title{
    font-size: 52px;
  } 
  .history__image{
    display: flex;
  }
  .history__box{
    display: flex;
    flex-direction: column-reverse;
  }
  .offline__box{
    display: flex;
    flex-direction: column;
  }
  .history__image-first, .offline__image-first{
    display: flex;
    padding: 0;
    justify-content: end;
    position: relative;
  }
  .history__image-secondary{
    position: relative;
    left: -5rem;
    top: 14rem;
  }
  .offline__image-secondary{
    position: relative;
    left: -17rem;
    top: 10rem;
  }
  .history__image-secondary img, .offline__image-secondary img {
    width: 18rem;        
  }
  .history__image-first img, .offline__image-first img{
    width: 17rem;
    padding-top: 5rem;
  }
  .debt, .history, .offline{
    margin: 12rem 0;
  } 
}
@media screen and (max-width: 960px) {
  .intro__title {
    font-size: 40px;
  }
  .intro {
    margin: 10rem 1rem;
  }
  .image-phone {
    width: 12rem;
  }
  .phone {
    margin-top: 8rem;
  }
  .cards__text {
    width: 17.5rem;
  }
  .cards__title {
    font-size: 2.9rem;
  }
  .debt__image>img{
    width: 15rem;
  }
  .payment-h3{
    font-size: 40px;
  }
  .debt__title{
    font-size: 50px;
  }
  .payment-box{
    padding: 6rem 2rem;
  }
  .history__image-secondary img, .offline__image-secondary img{
    width: 16rem;        
  }
  .history__image-first img, .offline__image-first img{
    width: 15rem;
    padding-top: 5rem;
  }
  .history__image-secondary, .offline__image-secondary{
    position: relative;
    left: -5rem;
    top: 13rem;
  }
  .history__image-secondary{
    position: relative;
    top: 14rem;
  }
  .offline__image-secondary{
    position: relative;
    left: -14rem;
    top: 10rem;
  }
  .debt, .history, .offline{
    margin: 10rem 0;
  } 
}
@media screen and (max-width: 720px) {
  .intro__title {
    font-size: 36px;
  }
  .image-phone {
    width: 10rem;
  }
  .phone__image {
    gap: 12px;
  }
  .phone {
    margin-top: 5rem;
  }
  .cards__text{
    width: 17.5rem;
  }
  .cards__title{
    font-size: 2.85rem;
  }
  .debt__image>img{
    width: 14rem;
  }
  .payment-h3{
    font-size: 38px;
  }
  .payment-p{
    font-size: 16px;
  }
  .debt__title{
    font-size: 48px;
  }
  .payment-box{
    padding: 5rem 2rem;
  }
  .history__image-secondary img, .offline__image-secondary img{
    width: 13rem;        
  }
  .history__image-first img, .offline__image-first img{
    width: 14rem;
    padding-top: 5rem;
  }
  .history__image-secondary{
    position: relative;
    left: -3rem;
    top: 11rem;
  }
  .offline__image-secondary{
    position: relative;
    left: -10.5rem;
    top: 10rem;
  }
  .debt, .history, .offline{
    margin: 9rem 0;
  } 
}
@media screen and (max-width: 576px) {
  .intro__title {
    font-size: 27px;
  }
  .intro__paragraph {
    font-size: 0.8rem;
  }
  .box-input {
    border-style: none;
    width: 20rem;
  }
  .intro__input {
    outline-style: auto;
    outline-color: #949494;
    margin: 1rem 0;
  }
  .image-phone {
    width: 7rem;
  }
  .phone {
    margin-top: 36px;
  }
  .cards__text{
    width: 17.5rem;
  }
  .cards__title{
    font-size: 2.5rem;
  }
  .debt__image>img{
    width: 12rem;
  }
  .payment-h3{
    font-size: 28px;
  }
  .payment-p{
    font-size: 14px;
  }
  .debt__title{
    font-size: 46px;
  }
  .payment-box{
    padding: 4rem 1.5rem;
  }
  .history__image-secondary img, .offline__image-secondary img{
    width: 10.5rem;        
  }
  .history__image-first img, .offline__image-first img{
    width: 12rem;
    padding-top: 5rem;
  }
  .history__image-secondary{
    position: relative;
    left: -2rem;
    top: 10rem;
  }
  .offline__image-secondary{
    position: relative;
    left: -9.5rem;
    top: 7rem;
  }
  .offline__image-first{
    top: -4rem;
    right: -10rem;
  }
  .debt, .history, .offline{
    margin: 8rem 0;
  } 
}
@media screen and (max-width: 360px) {
  .intro__title {
    font-size: 16px;
  }
  .box-input {
    width: 12rem;
  }
  .image-phone {
    width: 6rem;
  }
  .phone {
    margin-top: 10px;
  }
  .cards__text{
    width: 17.5rem;
  }
  .cards__title{
    font-size: 2rem;
  }
  .debt__image>img{
    width: 8rem;
  }
  .payment-h3{
    font-size: 30px;
  }
  .debt__title{
    font-size: 40px;
  }
  .history__image-secondary img, .offline__image-secondary img{
    width: 7rem;        
  }
  .history__image-first img, .offline__image-first img{
    width: 8rem;
  }
  .history__image-secondary{
    position: relative;
    left: -1.2rem;
    top: 7rem;
  }
  .offline__image-secondary{
    position: relative;
    left: -5rem;
    top: 5.5rem;
  }
  .offline__image-first{
    top: -4rem;
    right: -8rem;
  }
  .debt, .history, .offline{
    margin: 6rem 0;
  } 
}

/* prices section css coode */
.tariffs__container {
  background: linear-gradient(to right, #ee98bf, #ffc071);
  margin-top: 148px;
  padding: 64px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.tariff__nav__title {
  font-size: 39px;
  font-weight: 800;
  max-width: 544px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-bottom: 32px;
}

.tariff__price__nav {
  gap: 24px;
}

.tariff__price__nav__title {
  font-weight: 800;
  font-family: "Inter", sans-serif;
  color: #725d6c;
  text-transform: capitalize;
  font-size: 24px;
}

.price__selection {
  min-width: 64px;
  height: 30px;
  background-color: #000;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  cursor: pointer;
  position: relative;
}

.price__selection::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  transition: all 500ms cubic-bezier(0.56, 0.05, 0.1, 0.63);
}

.price__selection.selection__active::after {
  left: calc(100% - 28px);
  animation: width 500ms linear alternate;
}

.tariff__cards {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.cards__card {
  padding: 32px;
  background-color: #fff;
  display: inline-block;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cards__card:hover {
  background-color: #000;
  color: #fff;
}

.cards__card:hover .card__body__menu_item {
  color: #fff;
}

.cards__card:hover .buy__btn {
  color: #fff;
}

.cards__card:hover .buy__selection__value {
  box-shadow: 0px 5px 10px rgba(225, 225, 225, 0.1);
}

.buy__selection {
  width: 120px;
  height: 120px;
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy__selection__value {
  position: absolute;
  content: "";
  width: 150%;
  height: 40px;
  background-color: #563acc;
  transform: rotate(45deg);
  bottom: 53px;
  left: -16px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.buy__selection::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #000000;
  bottom: 0;
  right: 0;
}

.buy__selection::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #000000ad;
  top: 0;
  left: 0;
}

.card__nav {
  margin-bottom: 32px;
  margin-top: 32px;
}

.buy__status {
  font-size: 30px;
  font-weight: 700;
}

.user__postion {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  padding-right: 8px;
}

.card__body__menu {
  padding-left: 0;
  margin-bottom: 3px;
}

.card__body__menu_item {
  margin-left: 7px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #141313;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.card__body__menu_item:last-child {
  margin-bottom: 0;
}

.buy__btn {
  border: none;
  background-color: #45aaf2;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 32px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-top: 48px;
}

@keyframes width {
  0% {
    width: 25px;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 25px;
  }
}

@media screen and (max-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 1264px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .tariff__cards {
    grid-template-columns: repeat(1, 100%);
  }

  .tariff__price__nav__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .tariffs__container {
    padding: 32px;
  }

  .tariff__nav__title {
    font-size: 30px;
  }

  .tariff__price__nav__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .tariff__nav__title {
    font-size: 30px;
  }

  .tariff__price__nav__title {
    font-size: 16px;
  }

  .buy__status {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .tariff__nav__title {
    font-size: 28px;
  }

  .tariff__price__nav__title {
    font-size: 14px;
  }

  .buy__status {
    font-size: 26px;
  }

  .user__postion {
    font-size: 14px;
  }

  .card__body__menu_item {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .tariff__price__nav__title {
    font-size: 12px;
  }

  .card__body__menu_item {
    font-size: 12px;
  }
}


